Package: deepin-app-analyze
Version: 0.0.1-1
Architecture: all
Maintainer: ZhouFei <zhoufei@uniontech.com>
Installed-Size: 8969
Section: utils
Priority: optional
Homepage: http://www.deepin.org
Description: ABI check tool
 Used for compatibility check of ABI binary excuses in the app%
